Repository HamzaAmar/book_library: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx, js}": "npm run lint  --fix",
  "*.{json,md,css}": "prettier --write"
}

add .eslintrc file
  .eslintrc
Due: none

fix lint error by changing from type to interface
  pages/api/hello.ts
Due: npm run lint --fix

change from from npm run lint to eslint --fix because of a problem
  .lintstagedrc
Due: none

chore: add commitlint
  package-lock.json
  package.json
Due: prettier --write

style: add commitlintrc file and add commit-msg in the husky folder
  .commitlintrc.json
  .husky/commit-msg
Due: prettier --write

chore: add path aliase to tsconfig file
  tsconfig.json
Due: prettier --write

chore: add folder structure
  src/components/core/button/button.tsx
  src/components/core/button/index.ts
  src/components/core/index.ts
  src/pages/_app.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  src/styles/Home.module.css
  src/styles/globals.css
Due: npm run lint --fix, prettier --write

test: init cypress to the project
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/1-getting-started/todo.spec.js
  cypress/integration/2-advanced-examples/actions.spec.js
  cypress/integration/2-advanced-examples/aliasing.spec.js
  cypress/integration/2-advanced-examples/assertions.spec.js
  cypress/integration/2-advanced-examples/connectors.spec.js
  cypress/integration/2-advanced-examples/cookies.spec.js
  cypress/integration/2-advanced-examples/cypress_api.spec.js
  cypress/integration/2-advanced-examples/files.spec.js
  cypress/integration/2-advanced-examples/local_storage.spec.js
  cypress/integration/2-advanced-examples/location.spec.js
  cypress/integration/2-advanced-examples/misc.spec.js
  cypress/integration/2-advanced-examples/navigation.spec.js
  cypress/integration/2-advanced-examples/network_requests.spec.js
  cypress/integration/2-advanced-examples/querying.spec.js
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  cypress/integration/2-advanced-examples/traversal.spec.js
  cypress/integration/2-advanced-examples/utilities.spec.js
  cypress/integration/2-advanced-examples/viewport.spec.js
  cypress/integration/2-advanced-examples/waiting.spec.js
  cypress/integration/2-advanced-examples/window.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
Due: prettier --write

chore: add globals styles css custom properities and global styles
  src/styles/globals.css
Due: prettier --write

chore: add classnames library
  package-lock.json
  package.json
Due: prettier --write

feat: add button ui components with styles and type
  src/components/core/button/button.module.css
  src/components/core/button/button.tsx
  src/components/core/button/button.type.ts
Due: npm run lint --fix, prettier --write

fix: add baseUrl to tsconfig file
  tsconfig.json
Due: prettier --write

feat: add button components
  src/components/core/input/index.ts
  src/components/core/input/input.module.css
  src/components/core/input/input.tsx
  src/components/core/input/input.type.ts
Due: npm run lint --fix, prettier --write

chore: add input to index
  src/components/core/index.ts
Due: npm run lint --fix

feat: add textarea components to the project
  src/components/core/index.ts
  src/components/core/textarea/index.ts
  src/components/core/textarea/textarea.module.css
  src/components/core/textarea/textarea.tsx
  src/components/core/textarea/textarea.type.ts
Due: npm run lint --fix, prettier --write

feat: add radiol ui core components to the project
  src/components/core/index.ts
  src/components/core/radio/index.ts
  src/components/core/radio/radio.module.css
  src/components/core/radio/radio.tsx
  src/components/core/textarea/index.ts
Due: npm run lint --fix, prettier --write

feat: add toggle button core ui components
  src/components/core/index.ts
  src/components/core/toggle/index.ts
  src/components/core/toggle/toggle.module.css
  src/components/core/toggle/toggle.tsx
  src/components/core/toggle/toggle.type.ts
Due: npm run lint --fix, prettier --write

feat: add textarea components
  src/components/core/textarea/textarea.tsx
  src/components/core/textarea/textarea.type.ts
Due: npm run lint --fix

feat: add new text components core ui
  src/components/core/text/index.ts
  src/components/core/text/text.module.css
  src/components/core/text/text.tsx
  src/components/core/text/text.type.ts
Due: npm run lint --fix, prettier --write

feat: add checkbox ui core components
  src/components/core/checkbox/checkbox.module.css
  src/components/core/checkbox/checkbox.tsx
  src/components/core/checkbox/checkbox.type.ts
  src/components/core/checkbox/index.ts
Due: npm run lint --fix, prettier --write

feat: add form controller ui core component
  src/components/core/formController/formController.module.css
  src/components/core/formController/formController.tsx
  src/components/core/formController/formController.type.ts
  src/components/core/formController/index.ts
Due: npm run lint --fix, prettier --write

feat: add heading core ui components
  src/components/core/heading/heading.module.css
  src/components/core/heading/heading.tsx
  src/components/core/heading/heading.type.ts
  src/components/core/heading/index.ts
  src/components/core/index.ts
Due: npm run lint --fix, prettier --write

feat: add check icons components
  src/components/icons/check.tsx
  src/components/icons/index.ts
Due: npm run lint --fix

feat: add header user common components
  src/components/common/header/header.module.css
  src/components/common/header/header.tsx
  src/components/common/header/header.type.ts
  src/components/common/header/index.ts
Due: npm run lint --fix, prettier --write

feat: add footer user common components
  src/components/common/footer/footer.module.css
  src/components/common/footer/footer.tsx
  src/components/common/footer/index.ts
Due: npm run lint --fix, prettier --write

feat: add modal common ui components
  src/components/common/modal/index.ts
  src/components/common/modal/modal.module.css
  src/components/common/modal/modal.tsx
  src/components/common/modal/modal.type.ts
Due: npm run lint --fix, prettier --write

feat: add footer common ui user components
  src/components/common/footer/footer.module.css
  src/components/common/footer/footer.tsx
  src/components/common/footer/footer.type.ts
Due: npm run lint --fix, prettier --write

feat: add layout common ui user component
  src/components/common/layout/index.ts
  src/components/common/layout/layout.module.css
  src/components/common/layout/layout.tsx
  src/components/common/layout/layout.type.ts
Due: npm run lint --fix, prettier --write

feat: add logo common ui components
  src/components/common/logo/index.ts
  src/components/common/logo/logo.module.css
  src/components/common/logo/logo.tsx
Due: npm run lint --fix, prettier --write

fix: add gap to the leftContent header
  src/components/common/header/header.module.css
  src/components/common/header/header.tsx
Due: npm run lint --fix, prettier --write

feat: add bag icon
  src/components/icons/bag.tsx
  src/components/icons/index.ts
Due: npm run lint --fix

feat: add nav data
  src/constants/navData.tsx
Due: npm run lint --fix

feat: wrap all _app in uiContext to triger open and close model and sidebar
  src/pages/_app.tsx
  src/pages/index.tsx
Due: npm run lint --fix

chore: add keen-slide and reach/dialog
  package-lock.json
  package.json
Due: prettier --write

style: add path alias for context and type
  tsconfig.json
Due: prettier --write

feat: make uiProvider context
  src/context/UIContext.tsx
Due: npm run lint --fix

chore: add global type folder and add nav type to it
  src/types/nav.ts
Due: npm run lint --fix
